* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-body {
  min-height: 100vh;
  padding: 2.5rem 0;
}

.container-customer {
  max-width: 80rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.title-main {
  font-weight: bold;
  font-size: 2rem;
  color: #333;
  margin-bottom: 2.5rem;
}

@media (max-width: 90rem) {
  .container-customer {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media (max-width: 74.375rem) {
  .container-customer {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 37.4375rem) {
  .container-customer {
    padding-left: 0.5625rem;
    padding-right: 0.5625rem;
  }
}
